<!DOCTYPE html>
<html>
<head>
  <title>Prezentace ROR1</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
    @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

    body {
      font-family: 'Open Sans';
    }
    h1, h2, h3 {
      font-family: 'Open Sans';
      font-weight: normal;
    }
    .remark-code {
      font-family: 'Ubuntu Mono';
      font-size: 25px;
    }

    .remark-inline-code {
        font-family: 'Ubuntu Mono';
        font-size: 28px;
        background-color: #e5e5e5;
      }

    .remark-slide-content {
      font-size: 28px;
    }

    #slide-indentation-example .remark-code {
      font-size: 18px;
    }

    .footnote-left {
      position: absolute;
      bottom: 3em;
      left: 3em;
    }

    .footnote-right {
      position: absolute;
      bottom: 3em;
      right: 3em;
    }

    .footnote-right img {
      height: 100px;
    }

    a, a > code {
      color: rgb(249, 38, 114);
      text-decoration: none;
    }

    .green {
      color: rgb(0, 255, 0);
    }
  </style>
</head>
<body>
<textarea id="source">

class: center, middle

# Kurz Ruby on Rails (ROR1)

![pcdir.png](pcdir.png)

<br>

.footnote-left[Marek Hulán <br> mhulan@seznam.cz]
.footnote-right[IRC: mhulan@freenode <br> GitHub: ares]

---

# Struktura kurzu

* dva dny 9-17
* přestávky dle potřeby, oběd
* vlastní počítače - linux
* jedna aplikace
* odkazy:
    * Prezentace [https://ares.github.io/pror1/](https://ares.github.io/pror1/)
    <!--    * Ukazková aplikace [https://github.com/ares/ror1](https://github.com/ares/ror1) -->

---

# Instalace

* Ruby on Rails je gem
* Na Windows potřebuje Ruby s devkitem (`ruby dk.rb install`)
* NodeJS pro kompilaci javascriptu [https://nodejs.org/en/download/](https://nodejs.org/en/download/)
* Po instalaci v systému přibudou konzolové příkazy jako `rails` či `rake`

<br>

```sh
gem install rails
rails -v
```

---

# Jak vytvořit novou aplikaci

```sh
rails new computers
cd computers
rails server --port 80
```

Server se ukončuje pomocí CTRL + C nebo zavřením terminálu

---

# Rails aplikace používají bundler

* závislosti v Gemfile
* pro jednoduchost v Gemfile zakomentujte řádek `gem 'jbuilder'`
* update RoR také v Gemfile
* instalace pluginů

---

# Vytvoření statické stránky

Rails obsahují generátory koster souborů, které ulehčují práci

```sh
rails generate controller welcome hello version
```

první parametr je název tzv. controlleru, další jsou nově vytvářené stránky.

---

# Základní struktura RoR aplikace

* app/ - soubory aplikace
* app/controllers - controllery
* app/models - modely
* app/views - pohledy / prezentační logika
* app/assets - statické soubory
* config/ - konfigurační soubory
* db/migrate/ - migrační soubory databáze

---

# Anatomie zpracování požadavku

1. mapování adresy na controller a akci
2. provedení akce v controlleru
3. pokud controller neřekne jinak, vygenerování odpovědi na základě view (pohledu)

---

# Templaty

* V controlleru se připravují data, která se poté ve view vykreslují.
* RoR používá ERB templaty pro generování html
* Ruby kód je mezi tagy `<%= %>` a `<% %>`
* přípona `.html.erb`
* renderování Ruby probíhá na serveru

<br/>

```erb
<a href="/welcome/version">verze</a>
<%= link_to 'verze', welcome_version_path %>
```

---

# Další příklady

```erb
<%= 1 + 1 %>
<%= Time.now %>
<% messages.each do |message| %>
  <b>zakodovana zprava</b>:
  <%= encode(message) %><br>
<% end %>
```

---

# Layouty

* na každé stránce se často opakují stejné prvky např. menu
* layout je speciální template s voláním `<%= yield %>`
* výchozí layout je v `app/views/layouts/application.html.erb`
* nadefinujeme si v něm menu pomocí

```erb
<div>
  <%= link_to 'Uvod', welcome_index_path %> |
  <%= link_to 'Verze', welcome_version_path %>
</div>
```

---

# CSS

* vlastní CSS můžeme definovat v `app/assets/stylesheets/application.css`
* RoR podporují další nadstavby jako Sass a Less
* využijeme již existující knihovnu Bootstrap
* [https://getbootstrap.com/](https://getbootstrap.com/)

---

# Instalace bootstrapu

1. do Gemfile přidáme `gem 'bootstrap'`
1. `bundle install`
1. změníme příponu `app/assets/stylesheets/application.css` na `scss`
1. upravíme tento soubor tak, aby obsahoval pouze `@import "bootstrap";`
1. do `app/assets/javascripts/application.js` vložíme pod řádek `//= require jquery` <br> nový řádek `//= require bootstrap-sprockets`
1. restartujeme server

---

# Použití bootstrapu

* Do layoutu vložíme příklad menu [http://getbootstrap.com/docs/4.3/components/navbar/#nav](http://getbootstrap.com/docs/4.3/components/navbar/#nav)
* Upravíme na dvě položky, odkazy generované pomocí `<%= link_to ... %>`
* Třídu active nastavíme dynamicky s pomocí

```ruby
current_page?(welcome_hello_path)
```

---

# Data

* k uložení dat potřebujeme nějakou databázi
* strukturu databáze popisujeme v migracích `db/migrate/`
* každá migrace se spustí pouze jednou
* migrace se spouští pomocí `rake db:migrate`
* použitá databáze se konfiguruje v `config/database.yml`
* [http://guides.rubyonrails.org/active_record_migrations.html](http://guides.rubyonrails.org/active_record_migrations.html)

---

# Modely

* data z tabulky jsou přístupné skrz modely app/models
* model je třída, název se mapuje na název tabulky
* ORM: instance odpovídají řádku, metody sloupcům
* model musí dědit z třídy ApplicationRecord

---

# Práce s daty, CRUD

* na práci s daty potřebujeme 4 základní operace
* Create Read Update Destroy
* na webu se s tím pojí obyčejně 7 akcí
* můžeme si vygenerovat kostru

```sh
rails generate scaffold computer city:string \
  warranty:boolean vendor:string \
  serial_number:string
rake db:migrate
```

---

# Prozkoumání scaffoldu

* v prohlížeči funguje `http://localhost/computers`
* definice routes pro resource computer
* vytvořená migrace
* vytvořený model
* controller se 7 akcemi - modely, flash, @proměnné
* pohledy, sdílené části v partialech
* dokumentace [http://api.rubyonrails.org/](http://api.rubyonrails.org/)

---

# Úpravy scaffoldu

* integrujeme počítače do menu
* nastylujeme tabulku a formulář pomocí bootstrapu
* přidáme sloupce created_at a updated_at
* [http://getbootstrap.com/docs/4.3/content/tables/#examples](http://getbootstrap.com/docs/4.3/content/tables/#examples)
* [http://getbootstrap.com/docs/4.3/components/forms/#textual-inputs](http://getbootstrap.com/docs/4.3/components/forms/#textual-inputs)

---

# Validace

* validace se definují v modelu který chceme validovat
* lze využít např. na povinná pole, unikátní hodnoty nebo omezenou množinu hodnot
* [http://guides.rubyonrails.org/active_record_validations.html](http://guides.rubyonrails.org/active_record_validations.html)

```ruby
validates :vendor, :presence => true
validates :city, :inclusion => ['Pardubice', 'Praha']
validates :serial_number, :numericality => true
validates :serial_number, :uniqueness => true
```

---

# Formulářové prvky

* upravovali jsme argumenty helperů
* helpery obyčejně voláme na form builderu
* první argument je název atributu, pak následují další viz definice
* [http://guides.rubyonrails.org/form_helpers.html](http://guides.rubyonrails.org/form_helpers.html)
* upravíme formulář aby se město vybralo select boxem

---

# Obrázky

* přidáme ikony - [http://ares.github.io/pror1/glyphicons_free.tar.gz](http://ares.github.io/pror1/glyphicons_free.tar.gz)
* obrázky se ukládají do `app/assets/images`
* na zobrazení se použije `image_tag('nazev.png')`

```erb
<td>
  <% if computer.warranty %>
    <%= image_tag('glyphicons-207-ok.png') %>
  <% end %>
</td>
```

---

# Výchozí stránka

* nastavuje se v `config/routes.rb`
* `root :controller => 'computers', :action => 'index'`
* definuje metodu `root_path`

---

# Parametry

* v controlleru dostupné v `params`
* v odkazu lze přidat k metodám `*_path`
* upravíme nadpisy tabulky, aby se dle nich dalo řadit

```rb
# v šabloně
link_to 'Created at', computers_path(:order => 'created_at')
# v controlleru
@computers = Computer.order(params[:order]).all
```

---

# Vyhledávání

* stejný princip jako u řazení, jen se použije jiná metoda modelu
* [http://guides.rubyonrails.org/active_record_querying.html](http://guides.rubyonrails.org/active_record_querying.html)
* je možné si vypsat výsledný SQL kód

```rb
Computer.where("vendor = ?", params[:vendor]).all
Computer.where(:serial_number => 5).to_sql
```

---

# Další příklady

* výpis nejstaršího počítače
* výpis počtu počítačů bez záruky
* vytvoření nového záznamu

```rb
Computer.order('created_at' => 'desc').first.serial_number
Computer.where('warranty' => false).count
c = Computer.new('serial_number' => 1, 'warranty' => true)
c.save
```

---

# Druhá tabulka - operační systémy

* vytvoříme ručně scaffold pro model OperatingSystem
* bude mít pouze políčko název
* políčko bude ve formuláři povinné
* do menu přidejte odkaz na seznam operačních systémů

---

# Vazby

* modely jsou často provázané
* vazby jsou 1:1, 1:n, n:m
* v modelu se vazby definují pomocí belongs_to a has_many
* potřebujeme cizí klíč
* [http://guides.rubyonrails.org/association_basics.html](http://guides.rubyonrails.org/association_basics.html)

```rb
class Computer < ApplicationRecord
  belongs_to :operating_system
end

class OperatingSystem < ApplicationRecord
  has_many :computers
end
```

---

# Jak přidat nebo smazat sloupce

* migrace mohou i přidávat či ubírat z existujících tabulek

```sh
rails generate migration \
  Add$CokolivTo$Model nove_pole:string
rails generate migration \
  Remove$CokolivFrom$Model nove_pole:string

rails g migration AddOSIdToComputer \
  operating_system_id:integer
```

---

# Vazby využití

* snadné načítání navázaných objektů

```rb
Computer.all.map do |computer|
  computer.operating_system.name
end

OperatingSystem.first.computers.sum
```

---

# SQL a N+1 problém

* snadno dochází ke generování mnoha zbytečných SQL dotazů
* stejné dotazy jsou cachované
* detekce a upozornění - gem [bullet](https://rubygems.org/gems/bullet/versions/5.0.0)
* často lze vyřešit pomocí eager loadingu

---

# Přidání dalšího pole

* pořizovací cena
* použití integeru a formátování pomocí helperu
* k čemu se hodí html_safe a h

---

# I18n

* vestavěné řešení pomocí gemu i18n
* překlady jsou uložené v yml souboru pod svými klíči
* v RoR na místě kde chceme mít přeložený string voláme metodu `t('key')` kde key je klíč překladu
* překlady mohou být v yml zanořeny, poté je klíč složený pomocí teček `'computer.attributes.vendor'`
* každý jazyk má svůj kód
* překlady se umísťují do `config/locales/$kod.yml`
* výchozí jazyk je angličtina - en, čeština má kód cs
* lokalizace se provádí metodou `l`, např. `l(computer.created_at, :format => :short)`

---

# Nastavení jazyku aplikace

* pokud překlad chybí, použije se výchozí tj. angličtina
* výchozí soubor překladů lze získat zde [https://github.com/svenfuchs/rails-i18n/blob/master/rails/locale/cs.yml](https://github.com/svenfuchs/rails-i18n/blob/master/rails/locale/cs.yml)
* pro jednojazykové aplikace stačí přidat následující kód do `app/controllers/application_controller.rb`

```rb
before_action :set_locale

def set_locale
  I18n.locale = :cs
end
```

---


# Autentizace - devise

* de facto standard je [gem devise](https://github.com/plataformatec/devise)
* po přidání do Gemfile a instalaci pomocí bundle install ještě musíme udělat několik kroků

1. `rails generate devise:install`
2. provedeme kroky vypsané na obrazovce
3. `rails generate devise User`
4. `rake db:migrate`
5. do `app/controllers/application_controller.rb` přidáme `before_action :authenticate_user!`
6. restartujeme aplikaci

---

# Devise

* zaručení autentizace
* správu uživatelů si musíme naprogramovat sami
* metoda `current_user` vrací aktuálně přihlášeného uživatele
* vytvoříme logout odkaz, hodit se nám bude `rake routes`

```rb
link_to destroy_user_session_path,
  :method => 'delete' if user_signed_in?
```

---

# Vazba na uživatele

* přidáme vazbu na uživatele k počítači a hodnotu uložíme

```sh
rails generate migration AddUserIdToComputer user_id:integer
rake db:migrate
belongs_to :user
@computer = User.new(computer_params.merge(:user_id => current_user.id)
```

---

# Autorizace

```sh
rails generate migration AddAdminToUser admin:boolean
rake db:migrate
f.check_box :admin, :class => 'form-check'
current_user.admin?
```

---

# Import dat z csv

* potřebujeme dvě nové stránky - formulář a zpracování
* nadefinujeme routy v rámci resources definice
* vytvoříme formulář
* v kontrolleru zpracujeme příchozí soubor

---

class: center, middle

# Konec

---

# Bonus

* rake db:seed
* použití modelů v migracích
* API - jbuilder
* Stránkování
* Debug pomocí pry, pry-remote
* Testy
* Rails environment
* Rake
* Hosting - passenger, puma, capistrano, heroku, openshift
* ActiveJob
* ActiveStorage
* ActionMailer

</textarea>
<script src="remark-latest.min.js" type="text/javascript">
</script>
<script type="text/javascript">
  var slideshow = remark.create({
      // Set the slideshow display ratio
      // Default: '4:3'
      // Alternatives: '16:9', ...
      ratio: '4:3',

      // Navigation options
      navigation: {
        // Enable or disable navigating using scroll
        // Default: true
        // Alternatives: false
        scroll: true,

        // Enable or disable navigation using touch
        // Default: true
        // Alternatives: false
        touch: true,

        // Enable or disable navigation using click
        // Default: false
        // Alternatives: true
        click: false
      },

      // Customize slide number label, either using a format string..
      slideNumberFormat: 'Slide %current% of %total%',
      // .. or by using a format function
      slideNumberFormat: function (current, total) {
        // return 'Slide ' + current + ' of ' + total;
        return '';
      },

      // Enable or disable counting of incremental slides in the slide counting
      countIncrementalSlides: false,

      // Highlight lines in code examples prefixed with * by yellow background
      highlightLines: false,

      // Alternatives: arta, ascetic, dark, default, far, github, googlecode, idea, ir_black, magula, monokai, rainbow,
      // solarized-dark, solarized-light, sunburst, tomorrow, tomorrow-night-blue, tomorrow-night-bright,
      // tomorrow-night, tomorrow-night-eighties, vs, zenburn.

      // black variant sunburst, white variant github or maguka
      highlightStyle: 'sunburst'
    });
</script>
</body>
</html>
